name: CI

on:
  pull_request:
    paths-ignore:
    - '*.md'
  push:
    branches-ignore:
    - v1
    tags-ignore:
    - '*'
    paths-ignore:
    - '*.md'
  workflow_dispatch:

jobs:
  main:
    name: >-
      ${{ matrix.os }} ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, ubuntu-24.04-arm, ubuntu-22.04, macos-15, macos-14, macos-13 ]
        ruby: [ ruby-head, 3.4, 3.3, 3.2, 3.1, '3.0', 2.7, 2.5, 2.2, jruby, truffleruby ]
        exclude:
          - { os: ubuntu-22.04    , ruby:  2.2  }
          - { os: ubuntu-24.04    , ruby:  2.2  }
          - { os: ubuntu-24.04    , ruby:  2.5  }
          - { os: ubuntu-24.04    , ruby:  2.7  }
          - { os: ubuntu-24.04    , ruby: '3.0' }
          - { os: ubuntu-24.04-arm, ruby:  2.5  }
          - { os: ubuntu-24.04-arm, ruby:  2.2  }
          - { os: ubuntu-24.04-arm, ruby:  2.5  }
          - { os: ubuntu-24.04-arm, ruby:  2.7  }
          - { os: macos-14 , ruby:  2.2  }
          - { os: macos-14 , ruby:  2.4  }
          - { os: macos-14 , ruby:  2.5  }
          - { os: macos-14 , ruby:  2.6  }
          - { os: macos-15 , ruby:  2.2  }
          - { os: macos-15 , ruby:  2.4  }
          - { os: macos-15 , ruby:  2.5  }
          - { os: macos-15 , ruby:  2.6  }
          
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ruby Install
        uses: ./
        with:
          ruby-version: ${{ matrix.ruby }}
          apt-get: ragel
          brew: ragel

      - name: Info
        run:  |
          ruby -v
          echo ''
          gcc --version
          openssl version
          echo ''
          ragel --version
          echo ''
          bundler version
          echo ''
          echo "RubyGems $(gem --version)"

  win32:
    name: >-
      ${{ matrix.os }} ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2025, windows-2022 ]
        ruby: [ mswin, mingw, ucrt, head, 3.4, 3.3, 3.2, 3.1, '3.0', 2.5, 2.4, 2.3, 2.2 ]
        include:
          - { os: windows-11-arm  , ruby:  3.4  }
          - { os: windows-11-arm  , ruby:  head }
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ruby Install
        uses: ./
        timeout-minutes: 10
        with:
          ruby-version: ${{ matrix.ruby }}
          mingw: _upgrade_ openssl ragel
          msys2: bison
          mswin: bison mingw-w64-x86_64-ragel
          vcpkg: readline

      - name: Info
        run:  |
          # stderr output from OpenSSL causes failure
          $ErrorActionPreference = 'Continue'
          ruby -v
          echo ''
          gcc --version
          echo ''
          openssl version
          echo ''
          ragel --version
          echo ''
          if ('${{ matrix.ruby }}' -ge '2.4') {
            ridk version
          }

      - name: update RubyGems for Ruby 2.4 & 2.5
        # Included RubyGems doesn't work with required_ruby_version
        if: contains('2.4 2.5', matrix.ruby)
        run: gem update --system 3.3.14 --no-document
        timeout-minutes: 5

      - name: gem install openssl
        if:   |
          ((matrix.ruby >= '2.5') && (matrix.os == 'windows-2019'))
          || ((matrix.ruby >= '2.4') && (matrix.os >= 'windows-2022'))
        run:  gem install openssl -N
