name: CI

on: [push, pull_request]

jobs:
  main:
    name: >-
      ${{ matrix.os }} ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, ubuntu-latest, macos-latest ]
        ruby: [ ruby-head, 2.7, 2.5, 2.2, jruby, truffleruby ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Ruby Install
        uses: ./
        with:
          ruby-version: ${{ matrix.ruby }}
          apt-get: ragel
          brew: ragel

      - name: Info
        run:  |
          ruby -v
          echo ''
          gcc --version
          echo ''
          openssl version
          echo ''
          ragel --version
          echo ''
          bundler version
          echo ''
          gem --version

  win32:
    name: >-
      ${{ matrix.os }} ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows ]
        ruby: [ mswin, mingw, 2.5, 2.4, 2.3, 2.2 ]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Ruby Install
        uses: ./
        with:
          ruby-version: ${{ matrix.ruby }}
          mingw: _upgrade_ openssl ragel
          msys2: bison
          mswin: bison mingw-w64-x86_64-ragel
          vcpkg: readline

      - name: Info
        run:  |
          # stderr output from OpenSSL causes failure
          $ErrorActionPreference = 'Continue'
          ruby -v
          echo ''
          gcc --version
          echo ''
          openssl version
          echo ''
          ragel --version
          echo ''
          if ('${{ matrix.ruby }}' -ge '2.4') {
            ridk version
          }
      - name: gem install openssl
        if:   (matrix.ruby >= '2.4') && (matrix.ruby <= '3.2')
        run:  gem install openssl -N
